.App {
  text-align: center;
  height: 90% !important;
}

.Desktop {
  height: 90% !important;
}

.Mobile {
  height: 90% !important;
}

.MapView {
  height: 100% !important;
  width: 100% !important;
}

.ListButton {
  background-color: #FF0;
  position: absolute;
  left: 1.5em;
  top: 7em;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #000;
  height: 80px;
  padding: 5px;
  color: yellow;
}

html, body {
  height: 100% !important;
  width: 100% !important;
}

#root {
  height: 100% !important;
}

.List {
  background-color: #F00;
  height: 100% !important;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x:hidden;
}

.Map {
  background-color: #0F0;
  height: 100% !important;
  width: 100% !important;
}


.App-title {
  font-size: 1em;
  padding: 0em;
  margin: 0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
