.App {
  text-align: center;
  height: 90% !important;
}

.Desktop {
  border-style: ridge;
  border-width: 5px;
  border-color: #332000;
  background-color: #11DD11;
  height: 90% !important;
  align-items: center;
  justify-content: center;
}

.Mobile {
  border-style: ridge;
  border-width: 5px;
  border-color: #332000;
  background-color: #11DD11;
  height: 90% !important;
}

.MapView {
  height: 100% !important;
  width: 100% !important;
}

.ListButton {
  border-style: ridge;
  border-width: 5px;
  border-color: #332000;
  background-color: #329A00;
  color: #000;
  position: absolute;
  left: 2em;
  top: 8.5em;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  border-style: ridge;
  border-width: 5px;
  border-color: #331100;
  background-color: #331100;
  height: 80px;
  padding: 5px;
  color: #11DD11;
}

html, body {
  height: 100% !important;
  width: 100% !important;
}

#root {
  height: 100% !important;
}

.incident {
  border-style: ridge;
  border-width: 5px;
  border-color: #331100;
  color: #11DD11;
  background-color: #331100;
  width: 100%;
}

ul {
  padding-left: 0px;
}

h5 {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: underline;
}

p {
  padding: 0px;
  margin: 2px;
}

.List {
  border-style: groove;
  border-width: 5px;
  border-color: #331100;
  background-color: #11DD11;
  height: 100% !important;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x:hidden;
}

.Map {
  border-style: groove;
  border-width: 5px;
  border-color: #331100;
  background-color: #11DD11;
  height: 100% !important;
  width: 100% !important;
}


.App-title {
  font-size: 1em;
  padding: 0em;
  margin: 0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
